<p id="notice"><%= notice %></p>

<h1>Listing Membros</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Sexo</th>
      <th>Email</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membros.each do |membro| %>
      <tr>
        <td><%= membro.nome %></td>
        <td><%= membro.endereco %></td>
        <td><%= membro.sexo %></td>
        <td><%= membro.email %></td>
        <td><%= membro.telefone %></td>
        <td><%= link_to 'Show', membro %></td>
        <td><%= link_to 'Edit', edit_membro_path(membro) %></td>
        <td><%= link_to 'Destroy', membro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membro', new_membro_path %>
